<!doctype html>
<!--[if lt IE 7]>      <html lang="en" ng-app="internetarchive" ng-class="['no-js', 'lt-ie9', 'lt-ie8', 'lt-ie7']"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="internetarchive" ng-class="['no-js', 'lt-ie9', 'lt-ie8']"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="internetarchive" ng-class="['no-js', 'lt-ie9']"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="internetarchive" ng-class="['no-js']">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Internet Archive FrontOffice</title>
    <meta name="description" content="Frontend interface to use internetarchive API">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
    <div ng-controller="IAController">
        <div ng-class="['row']">
            <div ng-class="['col-md-2']">
                Actions
            </div>
            <div ng-class="['col-md-10']">
                <select ng-model="action" ng-options="a for a in actions"></select>
            </div>
        </div>
        <div ng-class="['row']">
            <div ng-class="['col-md-2']">
                File
            </div>
            <div ng-class="['col-md-10']">
                <input type="file" name="file" accept=".csv" ng-model="name" />
            </div>
        </div>
        <div ng-class="['row']">
            <button ng-class="['col-md-2']" ng-click="submit();">OK</button>
        </div>
    </div>
    <div ng-view></div>
    <!-- Project lib dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://opensource.keycdn.com/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Project angular js -->
    <script type="text/javascript" src="front/app/js/app.js"></script>
</body>

</html>