#
# Conf file
#
python/conf/conf.json

#
# Log folder
#
python/log

#
# Test folder
#
python/test

#
# DS_Store
#
.DS_Store

#
# Python compiled files
#
*.pyc

#
# Node modules
#
angular_front_test/node_modules