<!doctype html>
<html>
	<head>
		<title>Internet Archive Mass Access</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<script type='text/javascript' src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
		<script type='text/javascript' src="bower_components/angular-csv-import/dist/angular-csv-import.js"></script>
		<script type='text/javascript' src="myapp.js"></script>
		<script type='text/javascript' src="directives.js"></script>
		<script type='text/javascript' src="client.js"></script>
		<script type='text/javascript' src="bower_components/ng-table/dist/ng-table.js"></script>

		<link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>

		<style type="text/css">
		/**
		* Hide when Angular is not yet loaded and initialized
		*/
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		display: none !important;
		}
		</style>
	</head>
	<body ng-app = "myapp">
		<md-content style="background-color: #039be5; padding-left: 2em;" md-display-4>
		<h1>Internet Archive Mass Access</h1>
		</md-content>
		<div ng-cloak ng-controller="MainControl">
			<md-content>
			<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="create">
			<md-content class="md-padding">
			<h1 class="md-display-2">Create</h1>
			<p>Uploads new files to Internet Archive and set their metadata</p>
			<md-content>
			<div>
				<ng-csv-import content="csv.content"
				header="csv.header"
				separator="csv.separator"
				result="csv.result"
				accept="csv.accept">
				</ng-csv-import>

				<table ng-table="ngparam" ng-if="csv.content">
					<tr><th ng-repeat="header in csv.header">{{ header }}</th></tr>
					<tr ng-repeat="row in csv.result">
						<td ng-repeat="(key, value) in row">
							{{ value }}
						</td>

					</tr>
				</table>
				<div>
					C'est le zip
					<my-file-input file="zipfile"></my-file-input>
				</div>


			</div>
			</md-content>
			</md-content>
			</md-tab>
			<md-tab label="update">
			<md-content class="md-padding">
			<h1 class="md-display-2">Update</h1>
			<p>Updates the metadata of existing Internet Archive items</p>
			</md-content>
			</md-tab>
			<md-tab label="delete">
			<md-content class="md-padding">
			<h1 class="md-display-2">Delete</h1>
			<p>Deletes all deletale files from existing items on Internet Archive</p>
			</md-content>
			</md-tab>
			</md-tabs>
			</md-content>
		</div>
	</body>
</html>